body {
    background-color: #333;
}

button {
    background: none;
    padding: 8px;
    min-width: 100px;
    margin: 0 4px;
    color: white;
    border: 1px solid #666;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: bold;
}

button:hover {
    background-color: #f2eddf;
    border: 1px solid #f2eddf;
    color: #333;
}

button:active {
    background-color: #f2c6b6;
    border: 1px solid #f2c6b6;
}
